#juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 400px;
    height: 400px;
}

#arriba{
    display: flex;
}

#abajo{
    display: flex;
}

.boton{
    width: 150px;
    height: 150px;
    margin: 5px;
}

#azul{
    background-color: blue;
    border-radius: 50px 50px 0 50px;
}

#verde{
    background-color: rgb(42, 185, 42);
    border-radius: 50px 0px 50px 50px;
}

#amarillo{
    background-color: yellow;
    border-radius: 0px 50px 50px 50px;
}

#rojo{
    background-color: red;
    border-radius: 50px 50px 50px 0;
}

.opacidad{
    opacity:0.10;
}